.containerr {
    width: 65%;
    margin: auto;
}
.result-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    width: 100%;
    background-color: #3d3d3d;
}
.display-bar {
    color: white;
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 165%;
}
/* .buttons-container {
    display: flex;
    flex-flow: row wrap;
} */
.row {
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
}